/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{	
	background-color: #222222;
    color: #696969;
    font-family: 'Telex', sans-serif;
    font-size: 0.1em;
}

#header{
  text-align: center;
  width: 50%;
}

#header span {
    margin-left: 1px;
	margin-right: 1px;
	padding: 0.60% 0.60% 0.90% 0.60%;
}

#monst_title h1{
    font-size: 2em;
    text-align: center;
	font-weight: bold;
	color: lightgreen;
}

#monst_img{
	float: left;
}

#monsters_table{
	clear: both;
}

